*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  color: #213;
  background: #fff;
}

#app {
  margin: 0;
}


